<appSettings>
	<add key="MailServer" value="dev-smtp.vidly.com"/>
	<add key="GoogleClientId" value="399845379907-kn5rgc1pap38k37ht8uekgco90i6jasu.apps.googleusercontent.com" />
	<add key="GoogleClientSecret" value="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" />
	<add key="webpages:Version" value="3.0.0.0" />
	<add key="webpages:Enabled" value="false" />
	<add key="ClientValidationEnabled" value="true" />
	<add key="UnobtrusiveJavaScriptEnabled" value="true" />
	<add key="owin:AppStartup" value="IdentitySample.Startup,Vidly" />
</appSettings>
